<div class="container">
		<div class="row">
				<div class="col-lg-12">
						<h1 class="pull-left"	>Assessments</h1>

						<div class="col-lg-8">

							<div ng-repeat="assessment in assessmentData">

								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">
											<a ng-href="#reports/assessmentId/{{assessment.id}}">{{assessment.district}}, {{assessment.vdc}}</a>
										</h3>
									</div>
									<div class="panel-body">
										<span ng-repeat="person in assessment.assessmentDetails | limitTo:5">
											{{person.name}},
										</span>
										<span>...</span>
									</div>
								</div>

							</div>

						</div>

						<div class="col-lg-4"></div>

				</div>
		</div>
</div>
