<div class="col-lg-12">

	<div class="col-lg-3"></div>

	<div class="col-lg-6">


	<form>

		<div class="well well-lg col-lg-12">

			<div class="col-lg-6">

				<div class="input-group">
  				<span class="input-group-addon" id="basic-addon1">User Name:</span>
  				<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>

				<!-- <div class="login-btn">
					<input type="submit" class="btn btn-success pull-left" value="Login">
				</div>
				<div style="clear:both"></div> -->

			</div>

			<div class="col-lg-6">

				<div class="input-group">
	  				<span class="input-group-addon" id="basic-addon1">Password</span>
	  				<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
				</div>



			</div>

			<div class="login-btn pull-left">
					<input type="submit" class="btn btn-success pull-left" value="Login">
			</div>

			<div class="forgot-password pull-right">
					<a>Forgot your password?</a>
			</div>

		</div>

	</form>

	</div>

	<div class="col-lg-3"></div>

</div>
