<div class="col-lg-12">

	<div class="col-lg-3"></div>

	<div class="col-lg-6">


	<form ng-submit="submit()" id="login_form" name="login_form">

		<div class="well well-lg col-lg-12">

			<div class="col-lg-6">

				<div class="input-group">
				<span class="input-group-addon" id="username_label">User Name:</span>
				<!-- Need more strict validation as it only validates @ and nothing else -->
				<input type="email" 
					id="username" 
					name="username" 
					class="form-control" 
					placeholder="Username" 
					aria-describedby="basic-addon1" 
					ng-model="user.userName" 
					required>
				</div>

			</div>

			<div class="col-lg-6">

				<div class="input-group">
					<span class="input-group-addon" id="password_label">Password</span>
					<input type="password" 
						id="password" 
						name="password" 
						class="form-control" 
						placeholder="Password" 
						ng-model="user.password" 
						required
						ng-minlength=8>
				</div>



			</div>

			<div class="login-btn pull-left">
					<input type="submit" 
						id="login_btn"
						class="btn btn-success pull-left" 
						value="Login" 
						ng-disabled="login_form.$invalid">
			</div>

			<div class="forgot-password pull-right">
					<a>Forgot your password?</a>
			</div>

		</div>

	</form>

	</div>

	<div class="col-lg-3"></div>

</div>
