<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="pull-left">
				<div class="well well-sm report-head">
					Report of  {{assessmentDetails.district}}, {{assessmentDetails.vdc}}
				</div>
			</h1>

			<div class="col-lg-6">

				<div ng-repeat="person in assessmentDetails.assessmentDetails" ng-if="$odd">
					<div>
						<h4>
							<div class="label label-primary">
								{{person.name}}
							</div>
						</h4>
					</div>
					<div ng-repeat="(key, value) in person">
						<h4>
							<span class="label label-default pull-left">
								{{key | uppercase}}: {{value}}
							</span>
						</h4>
						<div style="clear:both"></div>
					</div>
					<hr width="100%">
				</div>

			</div>

			<div class="col-lg-6">

				<div ng-repeat="person in assessmentDetails.assessmentDetails" ng-if="$even">
					<div>
						<h4>
							<div class="label label-primary">
								{{person.name}}
							</div>
						</h4>
					</div>
					<div ng-repeat="(key, value) in person">
						<h4>
							<span class="label label-default pull-left">
								{{key | uppercase}}: {{value}}
							</span>
						</h4>

						<div style="clear:both"></div>

					</div>
					<hr width="100%">
				</div>

			</div>

		</div>
	</div>
</div>
